nodes:
  - address: CONTROL_1_PUBLIC_IP
    internal_address: CONTROL_1_PRIVATE_IP
    user: ubuntu
    role:
      - controlplane
      - etcd
      - worker
    ssh_key_path: ~/.ssh/id_rsa
  - address: WORKER_1_PUBLIC_IP
    internal_address: WORKER_1_PRIVATE_IP
    user: ubuntu
    role:
      - worker
    ssh_key_path: ~/.ssh/id_rsa
  - address: WORKER_2_PUBLIC_IP
    internal_address: WORKER_2_PRIVATE_IP
    user: ubuntu
    role:
      - worker
    ssh_key_path: ~/.ssh/id_rsa

cluster_name: devops-sushi

services:
  kube-api:
    service_cluster_ip_range: 10.43.0.0/16
  kube-controller:
    cluster_cidr: 10.42.0.0/16
    service_cluster_ip_range: 10.43.0.0/16
  kubelet:
    extra_args:
      max-pods: 110

network:
  plugin: canal

ingress:
  provider: nginx

monitoring:
  provider: metrics-server
